@font-face {
  font-family: titleFont;
  src: url('fonts/title.ttf');
}

@font-face {
  font-family: chooseFont;
  src: url('fonts/choose.ttf');
}

@font-face {
  font-family: playButtons;
  src: url('fonts/play.ttf')
}

@font-face {
  font-family: finish;
  src: url('fonts/finish.ttf')
}

@font-face {
  font-family: cartoon;
  src: url('fonts/cartoon.ttf')
}

@font-face {
  font-family: Work Sans;
  src: url('fonts/WorkSans.ttf');
}

@font-face {
  font-family: infoTitle;
  src: url('fonts/infoTitle.ttf');
}

@keyframes glow {

  0%,
  100% {
    box-shadow: 0 0 20px #edf502;
  }

  50% {
    box-shadow: 0 0 100px #edf502;
  }
}

body {
  margin: 0 auto;
  background-color: goldenrod;
  background-image: url('images/bg2.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 60px 20px 60px;
  flex-direction: column;
}

#footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: red;
  color: white;
  text-align: center;
  font-family: "JetBrains Mono", monospace;
  font-size: 15pt;
  z-index: 6;
}

#main-container {
  width: 86%;
  border: 8px outset #FF860A;
  border-radius: 37px;
  font-size: 30pt;
  min-height: 80%;
  z-index: 4;
  box-shadow: 0 0 10px #edf502;
  animation: glow 3s ease-in-out infinite;
  overflow: hidden;
}

#head {
  height: 83px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #ff1900;
  background: -webkit-linear-gradient(to right, #1F1C18, #ff1900);
  background: linear-gradient(to right, #1F1C18, #ff1900);
  border-radius: 29px 29px 0px 0px;
  font-family: titleFont;
  font-size: 42pt;
  color: white;
}

#head span,
#startLink {
  cursor: pointer;
}

#content {
  padding-top: 5%;
  padding-bottom: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background: #ffe259;
  background: -webkit-linear-gradient(to right, #ffa851c9, #ffe359c9);
  background: linear-gradient(to right, #ffa851c9, #ffe359c9);
  font-family: 'Work Sans';
  border-radius: 0 0 29px 29px;
  min-height: 68.5%;
  flex: 1;
}

.startpopup {
  background: rgba(245, 105, 17, 1);
  background-image: url('images/texture.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-family: 'Work Sans';
  font-weight: 700;
  border-radius: 20px;
  padding: 20px 60px 20px 60px;
  font-size: 18pt;
  min-width: 80%;
  overflow: hidden;
  max-height: fit-content;
  box-shadow: -2px 2px 0px #e46600,
    -4px 4px 0px #e46600,
    -6px 6px 0px #e46600,
    -5px 8px 0px #e46600,
    -10px 10px 0px #e46600,
    -12px 12px 0px #e46600;
  overflow-y: scroll;
  max-width: fit-content;
}

.note-editable {
  background-image: url('images/texture.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
  max-width: 100%;
}

.inputy {
  width: 500px;
  height: 60px;
  font-size: 30pt;
  text-align: center;
}

.sinputy {
  height: 36px;
  font-size: 18pt;
  text-align: center;
}

.inputlogin {
  width: 400px;
  padding: 10px;
  font-size: 18px;
  outline: none;
  background: linear-gradient(to left top, #fff, #7b787d);
  border-radius: 10px;
  border: 2px solid rgba(0, 0, 0, 0.2);
  color: black;
  transition: all 0.5s;
}

.inputlogin:hover {
  border: 2px solid rgba(0, 0, 0, 0.5);
}

.inputlogin:focus {
  border: 2px solid rgba(0, 0, 0, 0.5);
  background: linear-gradient(to left top, #fff, #dfdce8);
  color: black
}

.codeconfrim {
  margin: 20px;
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.codeconfrim:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.codeconfrim:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.codeconfrim:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

#titlejoin {
  margin-bottom: 20px;
  font-family: chooseFont;
}

.button-85 {
  font-family: playButtons;
  font-size: 20pt;
  text-decoration: none;
  padding: 0.6em 2em;
  border: none;
  outline: none;
  color: rgb(255, 255, 255);
  background: #111;
  cursor: pointer;
  position: relative;
  z-index: 0;
  border-radius: 10px;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-85:before {
  content: "";
  background: linear-gradient(45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing-button-85 20s linear infinite;
  transition: opacity 0.3s ease-in-out;
  border-radius: 10px;
}

@keyframes glowing-button-85 {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}

.button-85:after {
  z-index: -1;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: #222;
  left: 0;
  top: 0;
  border-radius: 10px;
}

.button-85:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-85:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}

.info {
  z-index: 6;
  position: fixed;
  top: 20%;
  left: 10%;
  background: rgba(3, 246, 222, 0.98);
  width: 80%;
  text-align: center;
  border-radius: 37px;
  font-size: 23pt;
  font-family: 'Work Sans';
  color: black;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  padding: 5px 0 5px 0;
}

#popup {
  display: none;
  position: fixed;
  top: 14%;
  left: 10%;
  background-image: linear-gradient(to right, #ff512f, #f09819);
  width: 80%;
  text-align: center;
  border-radius: 37px;
  font-size: 23pt;
  font-family: 'Work Sans';
  line-height: 250%;
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  z-index: 8;
  max-height: 80%;
  overflow-y: scroll;
  padding-right: 17px;
  box-sizing: content-box;
  padding-left: 10px;
}

::-webkit-scrollbar {
  display: none;
}

.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  z-index: 7;
}

#nickname {
  position: relative;
  font-size: 13pt;
  font-weight: bolder;
  left: 40%;
}

#join-back {
  color: black;
  font-family: chooseFont;
  padding: 20px;
  font-size: 15pt;
  font-weight: bolder;
  margin-top: -10%;
  margin-bottom: 4%;
  text-decoration: none;
  --c: #0e269d;
  box-shadow: 0 0 0 .1em inset var(--c);
  outline-offset: .1em;
  transition: background-size .4s, background-position 0s .4s;
  background: rgb(34, 195, 98);
  background: linear-gradient(0deg, rgba(34, 195, 98, 1) 14%, rgb(239, 253, 45) 100%);
  border-radius: 20px;
  border: 3px solid black;
}

#join-back:hover {
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 14%, rgba(158, 253, 45, 1) 100%);
  --_p: 100%;
  transition: background-position .4s, background-size 0s;
  color: white;
}

#join-back:active {
  box-shadow: 0 0 9e9q inset #0009;
  background-color: var(--c);
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 14%, rgba(158, 253, 45, 1) 100%);
}

.datatable {
  border-collapse: collapse;
  margin: 25px 0;
  font-size: 0.9em;
  font-family: sans-serif;
  min-width: 400px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  text-align: center;
}

.datatable thead tr {
  background-color: #ff6f00;
  color: #ffffff;
  text-align: center;
}

.datatable th,
.datatable td {
  padding: 12px 15px;
  border: 1px solid yellow;
}

.datatable tbody tr {
  border-bottom: 1px solid #dddddd;
  transition: background-color 0.3s ease;
}

.datatable tbody td {
  border: 1px solid red;
}

.datatable tbody tr:nth-of-type(even) {
  background-color: #f3f3f3;
}

.datatable tbody tr:nth-of-type(odd) {
  background-color: #fff263;
}

.datatable tbody tr:last-of-type {
  border-bottom: 2px solid #ff6f00;
}

.datatable tbody tr:hover {
  background-color: #ff9100;
  color: #ffffff;
}

.ask {
  height: 10px;
  width: 10px;
  float: right;
}

#questionForm {
  min-width: 100%;
}

.quest-options {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  text-align: center;
}

.quest-option {
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  margin-top: 20px;
  height: 80px;
  background-color: lightgreen;
  border-radius: 20px;
  flex-basis: 50%;
  outline: 1px solid black;
  width: 300px;
}

.loading-spinner {
  border: 4px solid rgba(0, 0, 0, 0.3);
  border-top: 4px solid #3498db;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
  margin: 20px auto;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#correct {
  outline: 4px solid darkorange;
  z-index: 2;
  background-color: gold;
}

#back,
#closeButton {
  margin-top: 50px;
  height: 50px;
  width: 100px;
}

#kodTurnieju {
  width: 500px;
}

#zapiszKod {
  background: rgb(34, 193, 195);
  background: linear-gradient(0deg, rgba(34, 193, 195, 1) 0%, rgba(233, 214, 171, 1) 100%);
  color: black;
}

#participantsInfo {
  min-height: 100px;
  min-width: 10%;
  position: fixed;
  left: 0%;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
  border-radius: 37px;
  font-size: 18pt;
  font-family: 'Work Sans';
  line-height: 150%;
  background-image: linear-gradient(to right, #ff512f, #f09819);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  z-index: 2;
  overflow-y: scroll;
  max-height: 98%;
}

#participantsPts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

#buzzerInfo {
  min-width: 10%;
  position: fixed;
  right: 0%;
  top: 50%;
  transform: translate(0, -50%);
  text-align: center;
  border-radius: 37px;
  font-size: 18pt;
  font-family: 'Work Sans';
  line-height: 150%;
  background-image: linear-gradient(to right, #ff512f, #f09819);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  z-index: 2;
  overflow-y: scroll;
  max-height: 98%;
}

.input-answer {
  width: 800px;
  height: 200px;
  font-size: 20pt;
}

.datatables {
  font-size: 15pt;
  text-align: center;
}

#aligned {
  display: flex;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

#quest {
  min-height: 30px;
  font-size: 26pt;
}

#answer {
  min-height: 30px;
  min-width: 500px;
  margin: 20px;
  font-size: 26pt;
}

#buzzer {
  box-shadow: -3px 7px 0px 0px #8a2a21;
  background: linear-gradient(to bottom, #c62d1f 5%, #f24437 100%);
  background-color: #c62d1f;
  border-radius: 18px;
  border: 1px solid #d02718;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 21px;
  font-weight: bold;
  padding: 28px 72px;
  text-decoration: none;
}

#buzzer:hover {
  background: linear-gradient(to bottom, #f24437 5%, #c62d1f 100%);
  background-color: #f24437;
}

#buzzer:active {
  position: relative;
  top: 6px;
  left: -7px;
  box-shadow: none;
}

#answerbuttons {
  display: flex;
  justify-content: space-between;
}

.disclaimer {
  font-family: 'Work Sans';
  font-size: small;
  line-height: normal;
  text-align: center;
}

.score-edit {
  min-width: 60px;
  font-weight: 700;
  text-align: center;
  border: 1px solid black;
  text-align: center;
  background: #fceabb;
  background: -webkit-linear-gradient(to right, #f8b500, #fceabb);
  background: linear-gradient(to right, #f8b500, #fceabb);
}

#categories-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
  align-content: flex-start;
  overflow: auto;
  flex-direction: row;
}

.category,
.category-done,
.category-none {
  padding: 10px;
  font-size: medium;
  overflow-wrap: break-word;
  width: 80%;
  height: 100px;
  margin: 5px;
  background-color: rgb(27, 226, 206);
  border-radius: 10px;
  box-shadow: rgba(51, 56, 60, 0.15) 0px 20px 30px -10px;
}

.category-over {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.category-none {
  color: rgb(97, 94, 94);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

#questOptionsContainer {
  line-height: 300%;
  font-size: 20pt;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }

  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }

  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

#yourScore {
  font-size-adjust: 2;
  padding: 60px;
  background-color: #0093E9;
  background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
  border-radius: 20px;
  transform: translatey(0px);
  animation: float 2s ease-in-out infinite;
  font-family: finish;
  font-size: 32pt;
  letter-spacing: 4px;

  img {
    width: 100%;
    height: auto;
  }
}


@keyframes flyAnimation {
  0% {
    transform: translate(-10vw, -10vh);
  }

  5%,
  20% {
    transform: translate(110vw, 95vh);
  }

  50%,
  70% {
    transform: translate(110vw, -10vh);
  }

  75%,
  95% {
    transform: translate(-10vw, 110vh);
  }

  100% {
    transform: translate(-10vw, -10vh);
  }
}

.flier1,
.flier2 {
  pointer-events: none;
  position: fixed;
  top: -20vh;
  left: -20vw;
  animation: flyAnimation 25s linear infinite;
  z-index: 1;
  display: block;
  width: 250px;
  height: 250px;
}

.flier1 {
  animation-delay: 0s;
}

.flier2 {
  animation-delay: 1s;
}

.logout {
  margin-top: -4.5%;
  left: 40%;
}

.view {
  content: url("images/unowneyeclose.png");
  cursor: pointer;
}

.view:hover {
  content: url("images/unowneyeopen.png");
}

.view:active {
  content: url("images/unowneyeclosed.png");
  transform: translateY(3px);
}

.wrench {
  transition: transform .2s ease-in-out;
}

.wrench:hover {
  transform: rotate(-60deg);
}

.wrench:active {
  transform: translateY(5px);
}

.trash {
  padding-top: 10px;
}

.trash,
.monke {
  cursor: pointer;
}

.trash:hover,
.monke:hover {
  animation: shake 0.5s;
  animation-iteration-count: 1;
}

.trash:active,
.monke:active {
  transform: translateY(5px);
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.gridpopup {
  min-width: 100%;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin: 10px;
  place-items: center;
  place-content: center;
}

#gear,
.lang,
.tooltiplang {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  background-image: linear-gradient(to right, #ff512f, #f09819);
  box-shadow: rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset, rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset, rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset, rgba(0, 0, 0, 0.06) 0px 2px 1px, rgba(0, 0, 0, 0.09) 0px 4px 2px, rgba(0, 0, 0, 0.09) 0px 8px 4px, rgba(0, 0, 0, 0.09) 0px 16px 8px, rgba(0, 0, 0, 0.09) 0px 32px 16px;
  z-index: 2;
  border-radius: 15px;
  min-width: 50px;
  min-height: 50px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 5;
}

#gear {
  top: 0px;
  text-align: center;
}

#gear img {
  height: 40px;
  width: 40px;
}

.lang {
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  display: none;
  top: 53px;
}

.tooltiplang {
  display: none;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 600;
  left: 50px;
  top: 53px;
  text-align: center;
  line-height: 50px;
  padding: 0 10 0 10;
  color: #fff;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.lang-select-container {
  position: relative;
  display: inline-block;
}

.lang-select {
  width: 100px;
  padding: 5px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
  z-index: 2;
}

.flag {
  width: 40px;
  height: 24px;
  display: inline-block;
  background-size: cover;
  border-radius: 5px;
  margin: 0;
  border: 2px solid black;
}

#contact {
  font-size: medium;
  margin-top: 20;
}

#pageInfo {
  font-family: infoTitle;
  text-align: center;
  font-size: x-large;
  margin-top: 0;
}

#pageInfoTitle {
  font-family: infoTitle;
  text-align: center;
  margin: 0 0 20 0;
}

#bgcontr {
  text-decoration: none;
  font-family: chooseFont;
  padding: 10px 0 10px 0;
  font-size: small;
  cursor: auto;
  opacity: .3;
}

#emptyQuestion {
  text-align: center;
}